
[submodule "public/js/libs/jquery-iframe-transport"]
	path = public/static/js/libs/jquery-iframe-transport
  url = git://github.com/cmlenz/jquery-iframe-transport.git
[submodule "public/bootstrap"]
	path = public/static/bootstrap
  url = git://github.com/twitter/bootstrap.git
[submodule "public/js/libs/backbone.validation"]
	path = public/static/js/libs/backbone.validation
  url = git://github.com/thedersen/backbone.validation.git
[submodule "public/js/libs/hogan.js"]
	path = public/static/js/libs/hogan.js
  url = git://github.com/twitter/hogan.js.git
