img(src="/static/img/contact-banner.jpg")
p.caption The coffee bar/showroom at Brasilia USA

h1 Contact Us 

.row
  .span6
    h3 We'd love to hear from you, so if you have any questions please complete the form. Thanks!
    p.
      <b>Address:</b>
      <br>530 S. Henderson Rd.
      <br>Suite F
      <br>King of Prussia, PA 19406

    p <b>Email:</b> info@brasiliausa.com

    p <b>Phone Main:</b> 610.265.5950

    p <b>Toll Free:</b> 1.800.215.8563

    p <b>Fax:</b> 888.576.8524

    p.
      <b>Showroom hours:</b>
      <br>Monday-Friday: 9am-5pm 
      <br>Saturday: By appointment only

  .span4.well
    form(method='post', action='#')

      label Name:
      input.span3(name='name', type='text')

      label Email:
      input.span3(name='email', type='password')

      label Message
      textarea.span4(name='message')

      button.btn(type='submit') Send

