li 
  a(href="/products") Products
li 
  a(href="/support") Support
li 
  a(href="/technology") Technology
li 
  a(href="/history") History
li
  a(href="/our-team") Our Team
li
  a(href="/what-we-do") What We Do
li
  a(href="/contact") Contact
li
  a(href="/manuals") User Manuals 
li     
  a(href="/login") Login
