#home
  img(src='/img/home-page-banner.jpg')
  .row
    .span4
      h2 Brasilia Espresso Machines
      img(alt="espresso machine", src="/img/home-page-espresso.jpg")
      p.
        We stock a vast line of traditional and automatic Brasilia espresso machines, 
        with models ranging from simple and dependable to elegant, art decorative, 
        and technologically advanced. Regardless of your needs, we have a Brasilia espresso
        machine 
        that will both meet and exceed your expectations. Whether you are a national 
        account, a distributor, an independent coffee bar, restaurant, or simply a home 
        user, our commitment to your espresso program remains unsurpassed. 
    .span4
      h2 Rossi Espresso Grinders
      img(alt="espresso grinders", src="/img/home-page-grinder.jpg")
      p.
        The grinder makes all the difference in espresso quality, as the extraction of 
        the coffee is a direct function of the grind setting. Brasilia (G.Rossi) offers 
        a fine assortment of grinders to support any size specialty coffee program. Our 
        grinders are available in automatic, and semi automatic versions, with adjustable 
        dosers for precise control. The newest addition to our grinder family is our On 
        Demand (OD) grinder, which utilizes the latest technology in freshness to automatically 
        grind and dose the coffee at the push of a button! 
    .span4
      h2 Service & Support
      img(alt="espresso machine service and support", src="/img/home-page-service.jpg")
      p.
        The technical department at Brasilia USA takes pride in providing the highest level 
        of service and support to its customers. All of our factory trained technicians have 
        completed rigorous training courses in both the US and Italy, and attend annual seminars 
        at our factory outside Milan to keep up with the latest trends and technology in espresso 
        equipment service, specifically Brasilia espresso machines.


