!!! 5
html(lang="en")
  head
    - if(typeof user !== "undefined")
      script
        window.config = {user: !{JSON.stringify(user)}} 
    include header
  body
    .navbar.navbar-static
      .navbar-inner
        .container
          a.brand(href='/') Brasilia USA
          ul.nav.main
            include nav
          ul.nav.user-menu.pull-right
 
    #app.container

    footer.container
      ul.nav.nav-pills
        include footer
      .facebook
        a(href="http://www.facebook.com/pages/Brasilia-USA/126213125623")
          img(src="/img/facebook.png", alt="facebook")
           br Become a fan
      .details	
        - var year = new Date().getFullYear()
        | Copyright &copy;#{year} 
        | <br> info@brasiliausa.com 
