!!! 5
html(lang="en")
  head
    - if(typeof user !== "undefined")
      script
        window.config = {user: !{JSON.stringify(user)}} 
    include header
  body
    .navbar.navbar-static
      .navbar-inner
        .container
          a.brand(href='/') Brasilia USA
          ul.nav
            include nav
          ul.nav.user-menu.pull-right
          ul.nav.pull-right
            include nav2
 
    #app.container
      != body

    footer.container
      ul.nav.nav-pills
        include footer
