li.dropdown#menu1
  a.dropdown-toggle(data-toggle="dropdown", href="#menu1") Learn About Us
    b.caret
  ul.dropdown-menu
    li 
      a(href="/technology") Technology
    li 
      a(href="/history") History
    li
      a(href="/our-team") Our Team
    li
      a(href="/what-we-do") What We Do
li
  a(href="/contact") Contact
