h2 Login 
form(method='post', action='/login')

  label Username or Email:
  input.span3(name='login', type='text')

  label Password:
  input.span3(name='password', type='password')

  button.btn.btn-primary(type='submit') Login

