.nav.nav-pills
  li 
    a(href="#", data-target="espresso-machines") Espresso Machines
  li
    a(href="#", data-target="espresso-grinders") Grinders
  li
    a(href="#", data-target="juicers") Juicers
  li
    a(href="#", data-target="panini-grills") Panini Grills
