.hd
  img(src="/img/team-banner.jpg")
  p.caption Philadelphia, our home
.bd
  h1 Our Team of Companies
  h2 Pioneers
  ul
    li
      p(style="position: relative")
        img(src="/img/rossi_group.jpg")
        | <i class="tm on-image">&reg;</i>
        | <b>Gruppo Rossi</b> - is an established and reliable
        | business group, with a professionalism that guarantees top
        | quality standards from bean to cup.
      p       
        | Thanks to an intense partnership with Gruppo Rossi,
        | BRASILIA acquired a specific know-how coming from the Rossi
        | experience, market-leading manufacturer in grinders, capsule
        | production units and pod production units.
    li
      p
       b Bratos
       | - coffee-roasting machines manufacturer
    li
      p
        b Italfiltri
        | - filter-holder producer.
  p.
    Brasilia USA<i class="tm">&reg;</i> was established in 2005 to fortify our existence in the market, 
    and strengthen support to our U.S. customer base.  The tradition, quality, and 
    innovation, embodied by the entire Rossi Group are now directly present in 
    North American through our U.S. office.  With our new foundation in place in the 
    Philadelphia area, we look forward to continuous growth by providing the highest 
    levels of customer service and support, as well as aggressively promoting the 
    development of the specialty coffee industry in the United States.  Whatever your needs, 
    we are ready to serve you!
