#what-we-do
  p.
    We have prepared a site to help further illustrate “What We Do” inside each 
    member company of the Rossi Group.  In this site you will find photos, 
    videos, links, and additional information about the products that each 
    member company specializes in manufacturing.
  p
    a(href="http://www.brasiliawhatwedo.com") What We Do Site
