<img src="/img/contact-banner.jpg" />
<p class="caption">The coffee bar/showroom at Brasilia USA</p>

<h1>Contact Us</h1>

<div class="row">
  <div class="span6">
    <h3>We'd love to hear from you, 
        so if you have any questions please complete the form. Thanks!
    </h3>
    <p>
      <b>Address:</b>
      <br>530 S. Henderson Rd.
      <br>Suite F
      <br>King of Prussia, PA 19406
    </p>
    <p> <b>Email:</b> info@brasiliausa.com</p>

    <p> <b>Phone Main:</b> 610.265.5950</p>

    <p> <b>Toll Free:</b> 1.800.215.8563</p>

    <p> <b>Fax:</b> 888.576.8524</p>
    <p>
      <b>Showroom hours:</b>
      <br>Monday-Friday: 9am-5pm 
      <br>Saturday: By appointment only
    </p>
  </div>
  <div class="span4 well">
    <form method='post' action='#'>

      <label>Name</label>
      <input class="span3" name="name" type="text">

      <label>Email</label>
      <input class="span3" name="email" type="text">

      <label>Message</label>
      <textarea class="span4" name="message"></textarea>

      <button class="btn" type="submit">Send</button>
    </form>
  </div>
</div>
