<div class="navbar navbar-static">
  <div class="navbar-inner" style="height: 40px">
    <div class="container">
      <a href="/" class="brand">Brasilia USA</a>
    </div>
  </div>
</div>
<div id="app" class="container">
  <div id="landing">
    <div id="banner">
      <div id="content">
        <h1>Kindest Customer Support </h1>
        <h2><b>&amp;</b>Perfect selection of commercial espresso machines</h2>
        <form method='post' action='#'>
          <h2>Get started now</h2>
          <p>Enter your email so we help you pick out the perfect the espresso machine</p>
          <label>email:</label>
          <input class="span3" name="email" type="text">
          <button class="btn btn-success btn-large" type="submit">Get Started</button>
        </form>
      </div> 
    </div>
    <div id="machines">
      <img alt="name" src="/files/cadetta_thumb.jpg">
      <img alt="name" src="/files/decurtis_thumb.jpg">
      <img alt="name" src="/files/excelsior-raised_thumb.png">
      <img alt="name" src="/files/opus_thumb.jpg">
      <img alt="name" src="/files/sublima_thumb.png">
    </div>
    <div id="copy">
      <p>
        We stock a vast line of traditional and automatic espresso machines, 
        with models ranging from simple and dependable to elegant, art decorative, 
        and technologically advanced. Regardless of your needs, we have an 
        espresso machine that will both meet and exceed your expectations. 
        Whether you are a national account, a distributor, an independent 
        coffee bar, restaurant, or simply a home user, our commitment to 
        your espresso program remains unsurpassed.
      </p>
    </div>
  </div>
</div>
<footer class="container">
  <div class="details">	Copyright &copy;2012 
  <br> info@brasiliausa.com </div>
</footer>
