h2 New Product 

form(method='post', action='#')

  label Name
  input.span3(name='name', type='text', value=name)

  label Description
  textarea.span3(name="description")= description 

  label Category
  select.span3(name="category")
    option(value="") -- Select Category --
    - var options = [{value: 'espresso_machines', label: 'Espresso Machines'}, {value: 'espresso_grinders', label: 'Espresso Grinders'}]
    each option in options
      option(value=option.value, selected=(category==option.value))= option.label 

  label Subcategory
  select.span3(name="subcategory")
    option(value="") -- Select Subcategory --
    - var options = [{value: 'bar_line', label: 'Bar Line'}, {value: 'compact', label: 'Compact'}]
    each option in options
      option(value=option.value, selected=(subcategory==option.value))= option.label 

  button.btn(type='submit') Create

form#upload(action="/upload",  method="post", enctype="multipart/form-data")
  label Select files to upload:
  input(type="file", name="file",  multiple)



