button.btn(type="submit", disabled="true") Create Wish 

iv class="row">')
    $('.row', this.el).append('<div class="details span4"></div>')
    $('.row', this.el).append('<div class="files span4"></div>')

