.nav.nav-pills
  li 
    a(href="#espresso-machines") Espresso Machines
  li
    a(href="#espresso-grinders") Grinders
  li
    a(href="#juicers") Juicers
  li
    a(href="#panini-grills") Panini Grills
