<h2>Product Details</h2>
<form method="post" action="#">
  <label>Name</label>
  <input class="span3" name="name" value={{name}}>

  <label>Description</label>
  <textarea class="span3" name="description">{{description}}</textarea> 

  <label>Category</label>
  <select class="span3" name="category">
    <option value="">-- Select Category --</option>
    {{#categories}}
      <option value={{value}} selected={{selected}}>{{label}}</option>
    {{/categories}}
  </select>
  <label>Subcategory</label>
  <select class="span3" name="subcategory">
    <option value="">-- Select Subcategory --</option>
    {{#subcategories}}
      <option value={{value}} selected={{selected}}>{{label}}</option>
    {{/subcategories}}
  </select>
  <button class="btn" type="submit">Save</button>
</form>

